Source: st
Section: devel
Priority: optional
Maintainer: Wesley W. Terpstra <wesley@terpstra.ca>
Build-Depends: debhelper (>> 3.0.0), gcc (>= 2.95.4), automake
Standards-Version: 3.5.2

Package: libst-dev
Architecture: any
Depends: libst1 (= ${Source-Version}), libc6-dev
Recommends: pkg-config
Description: State Threads Library - Development files
 The State Threads library has an interface similar to POSIX threads.
 .
 However, the threads are actually all run in-process. This type of
 threading allows for controlled schedualing points. It is highly useful 
 for designing robust and extremely scalable internet applications since
 there is no resource contention and locking is generally unnecessary.
 .
 It can be combined with traditional threading or multiple process
 parallelism to take advantage of multiple processors.
 .
 See: <http://state-threads.sourceforge.net/docs/st.html> for further
 information about how state threads improve performance.

Package: libst1
Architecture: any
Depends: ${shlibs:Depends}
Description: State Threads Library
 The State Threads library has an interface similar to POSIX threads.
 .
 However, the threads are actually all run in-process. This type of
 threading allows for controlled schedualing points. It is highly useful 
 for designing robust and extremely scalable internet applications since
 there is no resource contention and locking is generally unnecessary.
 .
 It can be combined with traditional threading or multiple process
 parallelism to take advantage of multiple processors.
 .
 See: <http://state-threads.sourceforge.net/docs/st.html> for further
 information about how state threads improve performance.
